export(predict.strat12)
export(predict.strat122)
export(predict.ultimatum)
S3method(logLik, strat)
S3method(logLik, summary.strat)
S3method(coef, strat)
S3method(vcov, strat)
S3method(plot, stratpp)
S3method(plot, preplot.stratpp)
S3method(predict, strat12)
S3method(predict, strat122)
S3method(predict, ultimatum)
