import(stringr)
export(predict.egame12)
export(predict.egame122)
export(predict.egame123)
export(predict.ultimatum)
export(clarke)
S3method(logLik, game)
S3method(logLik, summary.game)
S3method(coef, game)
S3method(vcov, game)
S3method(plot, predProbs)
S3method(plot, preplot.predProbs)
S3method(predict, egame12)
S3method(predict, egame122)
S3method(predict, egame123)
S3method(predict, ultimatum)
S3method(print, nonnest.test)
