S3method(coef,game)
S3method(logLik,game)
S3method(logLik,summary.game)
S3method(plot,predProbs)
S3method(plot,preplot.predProbs)
S3method(plot,profile.game)
S3method(predict,egame12)
S3method(predict,egame122)
S3method(predict,egame123)
S3method(predict,game)
S3method(predict,ultimatum)
S3method(print,game)
S3method(print,nonnest.test)
S3method(print,summary.game)
S3method(profile,game)
S3method(summary,game)
S3method(vcov,game)
export(LW)
export(Mode)
export(clarke)
export(egame12)
export(egame122)
export(egame123)
export(latexTable)
export(makeFormulas)
export(predProbs)
export(predict.egame12)
export(predict.egame122)
export(predict.egame123)
export(predict.ultimatum)
export(ultimatum)
export(vuong)
import(Formula)
import(MASS)
import(maxLik)
import(stringr)
