## Auxiliary files and the like
.Rhistory
.Rhistorynew
.RData
*.aux
*.bbl
*.blg
*.bst
*.cls
*.log
*.out
*cacheSweaveStorage*

## Files to simulate data
data/*

## Notes on derivations
notes/*

## Test files
test/*

## Package builds
*.tar.gz
